:root {
    --primer-font-family: 'Oswald', sans-serif;
--segundo-font-family: 'Poppins', sans-serif;
--tercero-font-family: 'Roboto Slab', serif;
}



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
     text-decoration: none;
     list-style-type: none;
    }
    
    header {
     width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        background-color: #b0bfc1bd;                       
    padding: 0px 30px;
    }
    

    .nav-bar {
        align-items: center;
        justify-content: center;
           display: flex; 
           gap: 150px ; 
     
    }


     .list-nav {
     align-items: center;
     justify-content: center;
        display: flex;
        gap: 68px;
       font-family: var(--primer-font-family);
    
    }
    
    .logo-principal {
        width: 4%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    }
   
    .icon-nav {
        width: 10%;
        cursor:pointer;
    }

    /*Hover*/
    .list-nav a:hover {
        color: white;
        text-decoration: underline;
        font-size:xx-large;
        background-color: #356b5fa9;
        padding: 22px 3px 12px 3px;
        transition: 0.5s;
      }

      .menu {
        background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
padding: 439px;

    }                                    