/* type Font family*/
:root {
    --primer-font-family: 'Oswald', sans-serif;
--segundo-font-family: 'Poppins', sans-serif;
--tercero-font-family: 'Roboto Slab', serif;
}
 
*{
    margin: 0%;
    padding:  0%;
    box-sizing: border-box;
     text-decoration: none;
     list-style-type: none;
    }
    
    header {
     width: 100%;
          display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        background-color: #b0bfc1bd;                       
    padding: 0px 30px;
    }

    /*LOGO PRINCIPAL*/
       .logo-principal {
        width: 4%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    }

    .nav-bar {
        align-items: center;
        justify-content: center;
           display: flex; 
           gap: 150px ; 
        }


     .list-nav {
     align-items: center;
     justify-content: center;
        display: flex;
        gap: 68px;
       font-family: var(--primer-font-family);
    
    }
    
 
 .icon-nav {
        width: 10%;
        cursor:pointer;
    }

    /*Hover*/
    .list-nav a:hover {
        color: white;
        text-decoration: underline;
        font-size:xx-large;
        background-color: #356b5fa9;
        padding: 22px 3px 12px 3px;
        transition: 0.5s;
      }

      .menu {
        background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
display: flex;
justify-content: center;
    }                                    


    .inputs {
        background: rgb(139,198,236);
        background: radial-gradient(circle, rgba(139,198,236,1) 60%, rgba(0,239,255,1) 100%);
        width: 100%;
    }

    .busqueda {
     width: 30%;
        margin-left: 34%;
        height: 25px;
         }
    
    .information { 
    width: 100%;
    height: 120px;
    background: #dfe6e9;
  border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}

.title {
   color: rgb(15 147 0);
   font-size: xx-large;
        font-size: 47px;
            font-family: Arial Black, Gadget, sans-serif;
        text-shadow: 0px 0px 0 rgb(-40,208,0),
                     1px 0px 0 rgb(-87,161,0),
                     2px 0px 0 rgb(-134,114,0),
                     3px 0px 0 rgb(-181,67,0),
                     4px 0px  0 rgb(-228,20,0),
                     5px 0px 4px rgba(0,0,0,0.33),
                     5px 0px 1px rgba(0,0,0,0.5),
                     0px 0px 4px rgba(0,0,0,.2);
                     height: 55%;
     }
    
     .button-search {
         background: linear-gradient(#15d798, #3ca2ae);
        border: 0px solid #556699;
        border-radius: 669px;
        width: 70px;
        height: 34px;
        color: #000000;
        display: inline-block;
        font: normal bold 18px/34px "Arvo", serif;
        text-align: center;
     }
    